
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
}
.modal{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.window{
    width: 20vw;
    height: 9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 1px solid #ccc;
    background: #fff;
    padding: 1vw;
    box-shadow: 0 0 0 4px rgba(0,0,0,.1);
    color: #222222;
}
.window p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;

}
.window button{
    width: 12vw;
    height: 2vw;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    transition: .3s ease-in-out;
}
.window button:hover{
    background: #e3e3e3;
    transform: scale(120%);
}
.window button:active{
    background: #e3e3e3;
    transform: scale(80%);
}
.blur{
    filter: blur(0.2vw);
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main_table{
    width: 60%;
    height: 20%;
    
}
.main_table ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main_table li{
    list-style-type: none;
    background: #f2f2f2;
    height: 80%;
    width: 25%;
    display: block;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
    
}
.main_container{
    width: 90%;
    height: 45%;
    background-color: aquamarine;
    position: relative;
    transition: .3s ease-in-out;
}
.main_container p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffffff;
}
.main_colors{
width: 14vw;
height: 14vw;
}
.main_colors ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.main_colors li{
    cursor: pointer;
    list-style-type: none;
    width: 6vw;
    height: 6vw;
    background-color: violet;
    border-radius: 50%;
}
.modal_end{
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.window_end{
    width: 20vw;
    height: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 1px solid #ccc;
    background: #fff;
    padding: 1vw;
    box-shadow: 0 0 0 4px rgba(0,0,0,.1);
    color: #222222;
}
.window_end__text{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;

}
.window_end button{
    width: 12vw;
    height: 2vw;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    transition: .3s ease-in-out;
}
.window_end button:hover{
    background: #e3e3e3;
    transform: scale(120%);
}
.window_end button:active{
    background: #e3e3e3;
    transform: scale(80%);
}
@media(max-width:992px){
    body{
        color: #222222;
    }
    .window {
        width: 50vw;
        height: 30vw;
    }
    .window button {
        width: 20vw;
        height: 6vw;
        font-size: 14px;
    }
    .main_table{
        height: 9%;
        width: 60%;

    }
    .main_table ul{
        flex-wrap: wrap;
        font-size: 14px;
    }
    main{
        justify-content: space-around;
        padding: 20vw 0;
    }
    .main_container{
        width: 70%;height: 30%;
    }
    .window_end {
        width: 33vw;
        height: 18vw;
    }
    .window_end button {
        width: 24vw;
        height: 7vw;
        font-size: 14px;
    }
    .main_colors{
        width: 30vw;
        height: 30vw;
    }
    .main_colors li{
        width: 14vw;
        height: 14vw;
    }
    .blur{
        filter: blur(0.7vw);
    }
}   